<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>com.univox.web.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RSSCategories</servlet-name>
        <servlet-class>com.univox.web.RSSCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RSSFeedNews</servlet-name>
        <servlet-class>com.univox.web.RSSFeedNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedDetails</servlet-name>
        <servlet-class>com.univox.web.FeedDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <servlet-class>com.univox.web.ErrorPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSSCategories</servlet-name>
        <url-pattern>/RSSCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSSFeedNews</servlet-name>
        <url-pattern>/RSSFeedNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedDetails</servlet-name>
        <url-pattern>/FeedDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/ErrorPage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
