<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>com.univox.web.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.univox.web.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCheck</servlet-name>
        <servlet-class>com.univox.web.UserCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lock</servlet-name>
        <servlet-class>com.univox.web.Lock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirm</servlet-name>
        <servlet-class>com.univox.web.Confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <servlet-class>com.univox.web.ErrorPage</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ChangePin</servlet-name>
        <servlet-class>com.univox.web.ChangePin</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>CheckNewPin</servlet-name>
        <servlet-class>com.univox.web.CheckNewPin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCheck</servlet-name>
        <url-pattern>/UserCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lock</servlet-name>
        <url-pattern>/Lock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirm</servlet-name>
        <url-pattern>/Confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/ErrorPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePin</servlet-name>
        <url-pattern>/ChangePin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckNewPin</servlet-name>
        <url-pattern>/CheckNewPin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
