<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>com.univox.VoicePaging.web.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>com.univox.VoicePaging.web.MainPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupsAndOUsPage</servlet-name>
        <servlet-class>com.univox.VoicePaging.web.GroupsAndOUsPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingProcess</servlet-name>
        <servlet-class>com.univox.VoicePaging.web.PagingProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <servlet-class>com.univox.VoicePaging.web.ErrorPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BroadcastMenu</servlet-name>
        <servlet-class>com.univox.VoicePaging.web.BroadcastMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageInput</servlet-name>
        <servlet-class>com.univox.VoicePaging.web.MessageInput</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PushMessagePage</servlet-name>
        <servlet-class>com.univox.VoicePaging.web.PushMessagePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SnedMessage</servlet-name>
        <servlet-class>com.univox.VoicePaging.web.SnedMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/MainPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupsAndOUsPage</servlet-name>
        <url-pattern>/GroupsAndOUsPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingProcess</servlet-name>
        <url-pattern>/PagingProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/ErrorPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BroadcastMenu</servlet-name>
        <url-pattern>/BroadcastMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageInput</servlet-name>
        <url-pattern>/MessageInput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PushMessagePage</servlet-name>
        <url-pattern>/PushMessagePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SnedMessage</servlet-name>
        <url-pattern>/SnedMessage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
