<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>weather</servlet-name>
        <servlet-class>com.weather</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>com.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Countries</servlet-name>
        <servlet-class>com.Countries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cities</servlet-name>
        <servlet-class>com.Cities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeatherInfo</servlet-name>
        <servlet-class>com.WeatherInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Continent</servlet-name>
        <servlet-class>com.Continent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>com.SearchResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>weather</servlet-name>
        <url-pattern>/weather</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Countries</servlet-name>
        <url-pattern>/Countries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cities</servlet-name>
        <url-pattern>/Cities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeatherInfo</servlet-name>
        <url-pattern>/WeatherInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Continent</servlet-name>
        <url-pattern>/Continent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/SearchResult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
